img.logo {
    width: 200px;
}

td.middle {
    vertical-align: middle;
}

section.reference {
    clear: both;
    padding: 20px;
}

section.reference:nth-child(2n) {
    background: rgb(204,204,204);
    background: linear-gradient(180deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 100%);
}
